.carousel-container {
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-direction: column;
 position: center;
 width: 25rem;
 height: auto;
 overflow: hidden;
 margin: 1rem 2rem;
}

.carousel-container ul {
 margin: 0 auto;
 align-items: center;
}