  @import url("https://use.typekit.net/ijc1lvp.css");

  .section {
    padding: 0rem;
  }

  .container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    height: 100vh;
    width: auto;
    overflow: hidden;
  }

  .landing-img {
    width: 100%;
    height: 100%;
    background-image: url('./assets/mountainphoto.jpg');
    object-fit: cover;
  }

  .history-img {
    width: 100%;
    height: 100%;
    background-image: url('./assets/peak.jpg');
    object-fit: cover;
  }

  .teams-img1 {
    width: 100%;
    height: 100%;
    background-image: url('./assets/teams-tab1.jpg');
    object-fit: cover;
  }

  .teams-img2 {
    width: 100%;
    height: 100%;
    background-image: url('./assets/teams-tab2.jpg');
    object-fit: cover;
  }


  .tabs-container {
    display: flex;
    flex-direction: row;
    height: 2rem;
    background-color: #414f6b;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10rem;
  }



  .tab {
    width: 6rem;
    height: 100%;
    font-size: 1rem;
    font-family: Oswald, sans-serif;
    font-weight: 900;
    color: #b1b7c2;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    text-transform: uppercase;
  }

  .tab:hover {
    cursor: pointer;
    color: #414f6b;
    background-color: white;
    border: none;
    opacity: .4;
  }

  p {
    font-size: calc(10px + .5vmin);
    color: #0a0c3e;
    font-weight: 600;
    letter-spacing: .2cap;
    line-height: 1rem;
    margin: 2rem auto;
  }

  .title {
    display: inline-block;
    margin: 4rem auto;
    line-height: 5rem;
    align-items: left;
  }

  .title h1 {
    font-family: "oswald", sans-serif;
    font-size: 7rem;
    font-weight: 700;
    color: #414f6b;
    opacity: 0.5;
    font-style: normal;
    margin: 0 auto;
  }

  .title h2 {
    font-family: "oswald", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #414f6b;
    font-style: normal;
    line-height: .1rem;
    padding: 0;
    padding-left: 7rem;
    margin: -2rem auto;
  }

  .title-2 {
    display: inline-block;
    margin: 0rem 0rem;
  }

  .title-2 h1 {
    font-family: "oswald", sans-serif;
    font-size: 7rem;
    font-weight: 700;
    color: #414f6b;
    opacity: 0.5;
    font-style: normal;
    margin: 0 1rem;
  }

  .title-2 h2 {
    font-family: "oswald", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #414f6b;
    font-style: normal;
    line-height: .1rem;
    padding: 0;
    padding-left: 7.6rem;
    margin: -4.3rem 1rem;
  }

  .title-2 p {
    display: inline-flex;
    justify-content: center;
    margin-left: 14rem;
  }

  .footer {
    background-color: #0a0c3e;
    color: #fffafa;
    text-align: center;
    font-weight: 600;
  }

  .logo {
    display: flex;
    flex-direction: row;
    text-align: left;
    height: 8vmin;
    pointer-events: all;
    margin: .5 auto;
    margin-top: .5rem;
    margin-bottom: 1rem;
  }

  .logo:hover {
    cursor: pointer;
  }


  .schedule {
    background: white;
    opacity: .8;
    border-radius: 5px;
    text-align: left;
    width: 18rem;
    height: auto;
    margin: 4rem 5rem;
    padding: 1rem 1rem;
  }

  .schedule h2 {
    font-family: "oswald", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #414f6b;
    font-style: normal;
    margin: .5rem auto;
    text-align: left;
  }

  .content {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 4rem;
  }

  .carousel-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #414f6b;
    opacity: .8;
    width: 100vw;
    height: 25em;
    margin: 0 auto;
  }

  .history {
    height: 40rem;
  }

  .climb {
    display: flex;
    margin: 0rem auto;
    height: 10rem;
  }