.section {
  padding: 1rem;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  height: 100vh;
  width: auto;
  overflow: hidden;
}

.landing-img {
  width: 100%;
  height: 100%;
  background-image: url('./assets/mountainphoto.jpg');
  object-fit: cover;
}

.history-img {
  width: 100%;
  height: 100%;
  background-image: url('./assets/peak.jpg');
  object-fit: cover;
}

p {
  font-size: calc(10px + .5vmin);
  color: #0a0c3e;
  font-weight: 600;
  letter-spacing: .2cap;
}

h1 {
  font-size: calc(18px + 2vmin);
  color: #0a0c3e;
  font-weight: 900;
  letter-spacing: .2cap;
}

.footer {
  background-color: #0a0c3e;
  color: #fffafa;
  text-align: center;
  font-weight: 600;
}

.logo {
  display: flex;
  flex-direction: row;
  text-align: left;
  height: 8vmin;
  pointer-events: all;
  margin: .5 auto;
  margin-top: .5rem;
}

.logo:hover {
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.schedule {
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 0 auto;
  padding: 1rem 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 2rem 1rem;
}